body {
    font-size: 14px;
}

.action-buttons {
    margin-top: 20px;
}

.action-button {
    color: white;
    background:rgb(41, 40, 40);
    padding: 10px 20px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.hide {
    display: none;
}